[Unit]
Description=Rollop L1 RPC
After=multi-user.target

[Service]
Type=simple
Restart=always
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ rollop_user_dir }}/roll-op
ExecStart={{ rollop_user_dir }}/roll-op/rollop --no-ansi-esc l1

[Install]
WantedBy=multi-user.target