[Unit]
Description=Rollop l2
After=multi-user.target

[Service]
Type=simple
Restart=always
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ user_dir }}
ExecStart=bash {{ user_dir }}/start-rollop.sh

[Install]
WantedBy=multi-user.target